<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> v_REPO </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Google materialize icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class=""> <%- body %> </div>
  <!-- injection here -->

<footer>
<div class="ascii-container">
  <pre style="font-weight: 900;">
                 ____
     _   __     / __ \___  ____  ____
    | | / /    / /_/ / _ \/ __ \/ __ \
    | |/ /    / _, _/  __/ /_/ / /_/ /
    |___/____/_/ |_|\___/ .___/\____/
       /_____/         /_/
  </pre>
</div>
</footer>

</body>
</html>

<style>
  .logo {
    margin-left: 10%;
    font-size: 1.8em;
  }
  .ascii-container {
    float: right;
    margin: 200px 30px 0px 0px;
  }
  body {
    background-image: url('/public/assets/background.png')
  }
  pre{
    color: white;
  }
</style>
